.my-event {
  position: absolute;
  font-size: 12px;
  justify-content: center;
  margin: 0 1px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
.title {
  position: relative;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-white {
  color: white;
}
.bg-blue {
  background: blue;
}
.bg-green {
  background: green;
}
.bg-orange {
  background: orange;
}
.bg-red {
  background: red;
}
.bg-teal {
  background: teal;
}
.bg-grey {
  background: grey;
}
.bg-purple {
  background: purple;
}
.full-width {
  left: 0;
  width: calc(100% - 2px);
}
.left-side {
  left: 0;
  width: calc(50% - 3px);
}
.right-side {
  left: 50%;
  width: calc(50% - 3px);
}
.rounded-border {
  border-radius: 2px;
}
